// Variables
$website-width: 1100px;
$main-color: #fd5825;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #222222;
$bg-image: url("../img/showcase2.png");

// Set Text Color

@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
